<!-- create.html -->
{% extends 'base.html' %}
{% block main %}
    <h1> Create question </h1>

    <form method='post'>

        <label for="question" class="form-label my-2"><b>Question</b></label> 
        <input class="form-control border-dark bg-dark text-white" type="text" name="question">
        <label for="answer" class="form-label my-2"><b>Answer</b></label> 
        <input class="form-control border-dark bg-dark text-white" type="text" name="answer">
            
        <div class="d-flex justify-content-end">
            <input class="btn btn-dark py-3 px-5 mx-2 my-4" type="submit" name="submit" value="Submit">
            <input class="btn btn-dark py-3 px-5 mx-2 my-4" type="reset" name="reset" value="Reset"><br>
        </div>
    </form>
{% endblock %}